:root{
    --background : white;
    --principal-color : lightskyblue;
    --typo : 'Times New Roman', Serif;
} 
/*
 *{  
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
} 
*/
a{
    color: inherit;
    text-decoration: none;
    display: block;
}
p a{
    display: inline;
}
h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
form, input, textarea, label, button, fieldset, select{
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    display: block;
    background: var(--background);
}
body{
    font-size: 100%;
    font-family: var(--typo);
h1{
    color: var(--principal-color);
    font-size: 200%;
    font-family: var(--typo);
    text-align: center;
    font-weight: bold;
}
.fieldsetbox{
    background-color: lightslategray;
    margin: 1em;
    padding: .5em;
    box-sizing: border-box;
}

.fieldsetbox .form__input{
    background-color: lightyellow;
}

.fieldsetbox .form__title{
    background-color: lightpink;
    color: var(--background);
    padding: .1em 0 0 0;
}


input[type=submit],input[type=reset].sendData {
    background-color: lightsalmon;
    padding: .5em;
    min-height: 5px;
    box-sizing: border-box;
    display: inline-block;
}
input[type=button].showActionButton {
    background-color: lightsteelblue;
    padding: 1em;
    min-height: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
}